// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit/kickstart";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "font-awesome/font-awesome.scss";
$fa-font-path:        "../fonts" !default;

@include add-grid(12);
@include add-gutter(1/3);

$desktop: 1024px;
$tablet: 768px;
$smartphone: 320px;

.loading {
	opacity: 0;
	height: 0 !important;
}
* {
	font-family: $sans;
	font-weight: 400;
	transition: all .5s ease-in-out;
	opacity: 1;
}

a.anchor {
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}

#mobile-menu,
#first-time {
	display: none;
}

#page-header{
	@include grid-span (12, 1);
	height: 70px;
	.site-name {
		@include breakpoint ($smartphone) {
			@include grid-span (5, 2);
			text-align: center;
			a{
				width: 149px;
				padding-top: 24px;
				background-image: url(../images/logo_mobile.png);
			}//a
		}
		@include breakpoint ($tablet) {
			@include grid-span (2, 2);
			a{
				width: 100px;
				padding-top: 101px;	
				background-image: url(../images/logo.png);
			}//a
		}
		a{
			height: 0;
			overflow: hidden;
			display: block;
			background-position: left top;
			background-repeat: no-repeat;
			background-size: contain;
		}//a
	}//site-name
	nav {
		margin-top: 22px;
		@include breakpoint ($smartphone) {
			//@include grid-span (1, 11);
			display: none;
		}
		@include breakpoint ($tablet) {
			@include grid-span (8, 4);
			display: block;
		}
	}//nav
	#mobile-trigger {
		@include breakpoint ($smartphone) {
			@include grid-span (1, 11);
		}
		@include breakpoint ($tablet) {
			display: none !important;
		}
	}//mobile-trigger
	@include breakpoint ($smartphone) {
		background-color: $main;
	}
	@include breakpoint ($tablet) {
		background-color: $light_grey;
	}
	clear: both;
	position: fixed;
	z-index: 999;
	background: $light_grey;
	position: fixed;
}//page-header

#page-header.small {
	.site-name {
		@include grid-span (2, 2);
		text-align: center;
		a{
			width: 149px;
			padding-top: 24px;
			background-image: url(../images/logo_mobile.png);
		}//a
	}//site-name
	nav {
		@include grid-span (8, 5);
		@include menu($light_grey);
		margin-top: 15px;
	}//nav
	background-color: $main;
}//#page-header.small

#hero{
	@include grid-span (12, 1);
	clear: both;
}//hero

#content {
	@include grid-span (12, 1);
	clear: both;
	margin-top: 70px;
}//content

.l-main {
	background-color: #ccc;
	@include breakpoint ($smartphone) {
		@include grid-span (12, 1);
		clear: both;
	}
	@include breakpoint ($tablet) {
		@include grid-span (10, 2);
		clear: both;
	}
	@include breakpoint ($desktop) {
		@include grid-span (8, 3);
		clear: both;
	}	
}//l-main

#block-block-1 {
	@include breakpoint ($smartphone) {
		@include grid-span (10, 2);
	}
	@include breakpoint ($tablet) {
		@include grid-span (10, 2);
	}
	@include breakpoint ($desktop) {
		@include grid-span (8, 3);
	}
	
	.block__title {
		@include h1(35px, 48px);
		@include sep();
		text-align: center;
	}//block__title
	.block__content {
		p{
			@include copy();
		}//p
	}//block__content
	margin-bottom: -38px;
}//block-block-1

#block-block-2 {
	@include breakpoint ($smartphone) {
		@include grid-span (10, 2);
		text-align: center;
		.icon-wrapper {
			float: none;
			.icon.large {
				font-size: 35px;
				color: $main;
			}
		}
	}
	@include breakpoint ($tablet) {
		@include grid-span (10, 2);
		
	}
	@include breakpoint ($desktop) {
		@include grid-span (8, 3);
		.block__content {
			.service{
				//clear: both;
				&:nth-child(odd) {
					@include grid-span (5, 1);
					text-align: right;
					clear: left;
					.icon-wrapper {
						float: left;
					}
				}//:nth-child(odd)
				&:nth-child(even) {
					@include grid-span (5, 8);
					text-align: left;
					clear: right;
					.icon-wrapper {
						float: right;
					}
				}//:nth-child(even)
				.icon-wrapper {
					width: 35px;
					height: 35px;
					background: $main;
					-ms-transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					text-align: center;
					.icon.large {
						font-size: 32px;
						width: 35px;
						height: 35px;
						color: #fff;
						-ms-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						text-align: center;
					}
				}
			}//.service
		}//block__content
	}
	.block__content {
		p{
			@include copy();
			clear: both;
		}
		h3 {
			@include h1(18px, 24px);
		}
	}
	.block__title {
		@include h1(35px, 48px);
		@include sep();
		text-align: center;
	}//block__title
}//block-block-2

.l-region--services {
	background-color: $light_grey;
	z-index: -1;
}//.l-region--services

.l-region--feedback {
	#block-views-testimonials-block {
		@include breakpoint ($smartphone) {
			@include grid-span (10, 2);
			text-align: center;
		}
		@include breakpoint ($tablet) {
			@include grid-span (10, 2);
			
		}
		@include breakpoint ($desktop) {
			@include grid-span (8, 3);
		}
	}//#block-views-testimonials-block
	.block__title {
		@include copy(18px, 48px, white);
		text-align: center;
		text-transform: uppercase;
	}//block__title
	.views-field-body p {
		@include h1(35px, 48px, white);
		&:before, &:after {
			content: "“";
			font-size: 36px;
			opacity: .3;
		}
	}//views-field-body p
	.views-field-field-feedback-author {
		@include copy(14px, 48px, white);
	}
	background-color: $main;
	padding: 40px 0;	
}//l-region--feedback

#map_canvas {
	min-height: 200px;
}

#main-menu {
	@include menu;
}